@import 'tailwindcss';

html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@layer base {
  body {
    font-family: var(--font-poppins);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-space-grotesk);
    font-weight: 700;
  }
}
