@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease;
}
@keyframes modalIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-modalIn {
  animation: modalIn 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
@import 'tailwindcss';

html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@layer base {
  body {
    font-family: var(--font-poppins);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-space-grotesk);
    font-weight: 700;
  }
}
